body{
    background-color: antiquewhite;
    color:darkgreen;
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-left: 1cm;
    padding-right:1cm;
    padding-top: 0.5cm;
    padding-bottom:0.5cm
}
.mainpage{
    color:darkgreen;
}
.mainpage:hover{
    color:black;
}
.playlist{
    color:darkgreen;
}
.playlist:hover{
    color:black;
    outline-style:double
}
.genre1{
    border-color:black;
    border-width: 4px;
    border-style:double;
    border-radius: 15px;
    float:center;
    height:250px;
    width:250px;
}
.genre2{
    border-color:black;
    border-width: 4px;
    border-style:double;
    border-radius: 20px;
    float:center;
    height:250px;
    width:250px;
}
.genre3{
    border-color:black;
    border-width: 4px;
    border-style:double;
    border-radius: 15px;
    float:center;
    height:250px;
    width:250px;
}
.pop{
    text-align: left;
    color:darkgreen;
}
.pop:hover{
    color:black;
}
.indiepop{
    text-align: left;
    color:darkgreen;
}
.indiepop:hover{
    color:black;
}
.opm{
    text-align: left;
    color:darkgreen;
}
.opm:hover{
    color:black;
}
.homebutton{
    border-color:black;
    border-width: 4px;
    border-style: solid;
    border-radius: 10px;
    float: center;
    height:90px;
    width:100px;
}
.hometext{
    text-align:center;
    font-size: 13px;
}
.artistimage{
    border-color:black;
    border-width:4px;
    border-radius:10px;
    height:300px;
    width:250px;
}
.landscape{
    height:300px;
    width:400px;
    border-color:black;
    border-width:4px;
    border-radius:10px;
}
.credits{
    font-size:13px;
}